<section id="services_signin" class="services">
	<h1>Sign in</h1>

	<p>
	You can sign up or sign in using one of your existing accounts at Facebook, Google, Yahoo, MyOpenID and other OpenID services. Please select the provider you want to use:
	</p>

	<div>
		<%= render "services_list" %>
	</div>
	
	<p class="clear">
	Don't have any of these accounts? Get your <%= link_to "MyOpenID", "http://www.myopenid.com/" %> or <%= link_to "GoogleID", "http://mail.google.com/mail/signup" %> now! If you want to learn more about OpenID or find more OpenID providers, you can get more information at <%= link_to "openid.net", "http://openid.net" %>.
	</p>
</section>